{% extends "users/layout.html" %}

{% block header %}
  <header style="background-color: black;">
    <h1 style="color: yellow;">Mac's Strength and Power: Fitness Tracker</h1>
    <nav>
      <span>
        <div class="container">
          <div class="row">
            <div class="col text-end">
              <a href="{% url 'users-profile' %}" style="color: yellow; background-color: black; border-color: white;" onmouseover="this.style.borderColor='yellow'" onmouseout="this.style.borderColor='white'">Home</a>
            </div>
            <div class="col text-start">
              <div class="dropdown">
                <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: yellow; background-color: black; border-color: white;" onmouseover="this.style.borderColor='yellow'" onmouseout="this.style.borderColor='white'">
                    Diary, Goals and Metrics
                </button>
                <ul class="dropdown-menu" style="background-color: black; overflow: hidden; padding-right: 15px; text-align: center; border: 1px solid gray;">
                    <li class="d-grid"><a class="dropdown-item" href="{% url 'users-diary' %}" style="color: white; background-color: black !important; padding: 0">Diary</a></li>
                    <li class="d-grid"><a class="dropdown-item" href="{% url 'users-goal' %}" style="color: white; background-color: black !important; padding: 0">Goals</a></li>
                    <li class="d-grid"><a class="dropdown-item" href="{% url 'metrics' %}" style="color: white; background-color: black !important; padding: 0;">Metrics</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </span>
    </nav>
  </header>
{% endblock %}

{% block main %}

<body style="background-color: black;">
  <h2 style="color: white; text-align: center; padding-bottom: 50px;">Create Workout</h2>
  <form method="post" action="{% url 'create_workout' %}">
    {% csrf_token %}

    <style>
      .form-section label {
        color: white;
      }
    </style>
    <div class="form-section" style="text-align: center;">
      {{ form.as_p }}
    </div>

    <div class="form-section">
      <h3 style="color: white;">Exercise Details</h3>
      {{ exercise_formset.management_form }}
      <div id="exercise-formset">
        {% for exercise_form in exercise_formset.forms %}
        <div class="exercise-form">
          {{ exercise_form.as_table }} {% if forloop.counter != 1 %}
          <button type="button" class="delete-exercise rounded-button" style="float: right; color: yellow; background-color: black; border-color: white;">
            Remove
          </button>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <button type="button" id="add-exercise" class="rounded-button" style="color: yellow; background-color: black; border-color: white;">Add Exercise</button> <button type="submit" class="rounded-button" style="float: right; color: yellow; background-color: black; border-color: white;">Save Workout</button>
      <div id="empty_form" style="display: none">
        <div class="exercise-form">
          {{ exercise_formset.empty_form.as_table }}
          <button type="button" class="delete-exercise rounded-button" style="float: right; color: yellow; background-color: black; border-color: white;">
            Remove
          </button>
        </div>
      </div>
    </div>
  </form>

  <div>
    <style>
      .rounded-button {
        border-radius: 8px;
      }

      input[type="number"] {
        width: 60px;
      }
      .workout-form {
        width: 60%;
        margin: auto;
      }

      .form-section {
        margin-bottom: 20px;
      }

      .exercise-form {
        border: 1px solid #ddd;
        padding: 10px;
        margin-bottom: 10px;
      }

      #add-exercise {
        margin-top: 10px;
      }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      function updateDeleteButtons() {
        // Only show last delete button
        $(".exercise-form .delete-exercise").hide();
        $(".exercise-form:last-child .delete-exercise").show();
      }
      $(document).ready(function () {
        $("#add-exercise").click(function () {
          var form_idx = $("#id_workoutexercise_set-TOTAL_FORMS").val();
          $("#exercise-formset").append(
            $("#empty_form")
              .html()
              .replace(/__prefix__/g, form_idx)
          );
          $("#id_workoutexercise_set-TOTAL_FORMS").val(
            parseInt(form_idx) + 1
          );
          updateDeleteButtons();
        });

        // Add event listener for delete buttons
        $("#exercise-formset").on("click", ".delete-exercise", function () {
          // Remove the parent exercise form when delete button is clicked
          $(this).parent(".exercise-form").remove();

          // Update the formset management form with the new total forms count
          var totalForms = $("#id_workoutexercise_set-TOTAL_FORMS").val();
          var newTotalForms = parseInt(totalForms) - 1;
          $("#id_workoutexercise_set-TOTAL_FORMS").val(newTotalForms);

          updateDeleteButtons();
        });
      });
    </script>
  </div>
</body>

{% endblock %}