{% extends "users/layout.html" %}
{% load static %}
<!-- Header for the navigation bar -->
{% block header %}
  <header style="background-color: black; padding-bottom: 0;">
    <nav class="navbar navbar-expand-md justify-content-center" style="padding-top: 0; margin-top: 1.5%;">
      <a class="navbar-brand" href="{% url 'users-profile' %}" style="padding: 0;">
        <img class="nav-logo" src="{% static 'images/mac_header.jpg' %}" alt="Mac's Strength and Power Logo"/>
      </a>
      <div class="col-md-auto">
        <div class="row">
          <h1 style="color: yellow;"style="right: 40;">Mac's Strength and Power: Fitness Tracker</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="row">
          <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar" style="left: 25%">
            <ul class="navbar-nav">
              <li class="nav-item mr-2 mb-2">
                <a class="btn" href="{% url 'users-profile' %}" style="color: black; background-color: yellow;" class="btn" onmouseover="this.style.borderColor='yellow'" onmouseout="this.style.borderColor='black'">Home</a>
              </li>
              <li class="nav-item mr-2 mb-2">
                <div class="dropdown mr-2 mb-2">
                  <button class="btn dropdown-toggle mr-2 mb-2" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black; background-color: yellow;" onmouseover="this.style.borderColor='yellow'" onmouseout="this.style.borderColor='black'">
                      Menu
                  </button>
                  <ul class="dropdown-menu" style="background-color: yellow; overflow: hidden; padding-right: 15px; text-align: center; border: 1px solid gray;">
                      <li class="d-grid"><a class="dropdown-item" href="{% url 'create_workout' %}" style="color: black; background-color: yellow !important; padding: 0;" onmouseover="this.style.backgroundColor='black', this.style.color='yellow'" onmouseout="this.style.backgroundColor='yellow', this.style.color='black'">Create A Workout</a></li>
                      <li class="d-grid"><a class="dropdown-item disabled" href="{% url 'workout_list' %}" style="color: black; background-color: yellow !important; padding: 0;" onmouseover="this.style.backgroundColor='black', this.style.color='yellow'" onmouseout="this.style.backgroundColor='yellow', this.style.color='black'">Workout List</a></li>
                      <li class="d-grid"><a class="dropdown-item" href="{% url 'users-diary' %}" style="color: black; background-color: yellow !important; padding: 0" onmouseover="this.style.backgroundColor='black', this.style.color='yellow'" onmouseout="this.style.backgroundColor='yellow', this.style.color='black'">Diary</a></li>
                      <li class="d-grid"><a class="dropdown-item" href="{% url 'users-goal' %}" style="color: black; background-color: yellow !important; padding: 0" onmouseover="this.style.backgroundColor='black', this.style.color='yellow'" onmouseout="this.style.backgroundColor='yellow', this.style.color='black'">Goals</a></li>
                      <li class="d-grid"><a class="dropdown-item" href="{% url 'metrics' %}" style="color: black; background-color: yellow !important; padding: 0;" onmouseover="this.style.backgroundColor='black', this.style.color='yellow'" onmouseout="this.style.backgroundColor='yellow', this.style.color='black'">Weigh-In</a></li>
                  </ul>
                </div>
              </li>
              <li class="nav-item mr-2 mb-2">
                <a class="btn" href="{% url 'users-reminder' %}" style="color: black; background-color: yellow;" class="btn" onmouseover="this.style.borderColor='yellow'" onmouseout="this.style.borderColor='black'">Create Email Reminders</a>
              </li>
              <li class="nav-item mr-2 mb-2">
                <a class="btn" href="{% url 'about_page' %}" style="color: black; background-color: yellow;" class="btn" onmouseover="this.style.borderColor='yellow'" onmouseout="this.style.borderColor='black'">About</a>
              </li>
              <li class="nav-item mr-2 mb-2">
                <a class="btn" href="{% url 'users-logout' %}" style="color: black; background-color: yellow;" class="btn" onmouseover="this.style.borderColor='yellow'" onmouseout="this.style.borderColor='black'">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
{% endblock %}

{% block main %}
<body style="background-color: black;">
  <!-- Workout List title -->
  <h1 style="color: white; text-align: center;">Your Workouts</h1>
  <br><br>

  <!-- Workout list search structuring -->
  <div class="row">
    <div class="col-md-8">
      <form class="row mb-3" method="get" action="{% url 'workout_list' %}">
        <div class="col-8">
          <input class="form-control form-control-lg" type="text" name="search" value="{{ search }}" placeholder="Search workouts...">
        </div>
        <div class="col-4">
          <button class="btn btn-lg" type="submit" style="background-color: yellow;">Search</button>
        </div>
        <p class="mt-2" style="color: white;">Clear to go back to the full list</p>
      </form>
    </div>
  
    <!-- Structuring for the dropdown list of selectable months -->
    <div class="col-md-4">
      <select id="month-filter" style="padding: 11px;" class="form-select" onchange="filterWorkouts(this.value)">
        <option value="" selected disabled>Select Month</option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
        <option value="" selected>All Months</option>
      </select>
    </div>
  </div>
  <br>

  <!-- Button for creating a new workout -->
  <div class="text-end">
    <a class="btn btn-lg" href="{% url 'create_workout' %}" style="color: black; background-color: yellow;" class="btn" onmouseover="this.style.borderColor='yellow'" onmouseout="this.style.borderColor='black'">Create New Workout</a>
  </div>
  <br>

  <!-- Display of the workout form on the workout page, along with a delete button to remove the workout from the list -->
  <ul>
    {% if page_obj %}
        {% for workout in page_obj %}
          <li class="workout-item" data-month="{{ workout.day.month }}" style="border: 1px solid lightgrey; border-radius: 10px; margin-bottom: 10px; padding: 10px;">
            <strong style="color: yellow;">{{ workout.name }} - <small style="color: lightgray; font-weight: normal; font-size: 80%;">{{ workout.day }} AKT</small></strong>
            <p style="color: white; margin-top: 10px;"><span style="color: gray; font-style: italic;">Notes:</span> {{ workout.description }}</p>
            {% for obj in workout.workoutexercise_set.all %}
            <p>
              <span style="color: white;"><span style="font-style: italic;">Exercise</span> {{ forloop.counter }} - {{ obj.exercise.name }}:</span>
              <span style="color: white;">{{ obj.sets }} {% if obj.sets == 1 %} set{% else %} sets{% endif %}, {{ obj.reps }} {% if obj.reps == 1 %} rep{% else %} reps{% endif %}</span>
            </p>
            {% endfor %}
            <form method="post" action="{% url 'delete_workout' workout.id %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-rounded" style="margin-bottom: 8px;">Delete</button>
            </form>
          </li>
        {% endfor %}
    {% else %}
        <p style="color: yellow;">You have no workouts.</p>
    {% endif %}
  </ul>

   <!-- Pagination for many workouts -->
   <div class="text-center">
    <div class="btn-group" role="group" aria-label="Pagination">
        {% if page_obj.has_previous %}
            <a class="btn btn-sm" href="?page=1" style="color: black; background-color: yellow;">&laquo; First</a>
            <a class="btn btn-sm" href="?page={{ page_obj.previous_page_number }}&search={{ search }}" style="color: black; background-color: yellow;">Previous</a>
        {% else %}
            <a class="btn btn-sm disabled" style="color: black; background-color: yellow;">&laquo; First</a>
            <a class="btn btn-sm disabled" style="color: black; background-color: yellow;">Previous</a>
        {% endif %}
        <div class="btn btn-sm disabled" style="color: black; background-color: yellow;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</div>
        {% if page_obj.has_next %}
            <a class="btn btn-sm" href="?page={{ page_obj.next_page_number }}" style="color: black; background-color: yellow;">Next</a>
            <a class="btn btn-sm" href="?page={{ page_obj.paginator.num_pages }}&search={{ search }}" style="color: black; background-color: yellow;">Last &raquo;</a>
        {% else %}
            <a class="btn btn-sm disabled" style="color: black; background-color: yellow;">Next</a>
            <a class="btn btn-sm disabled" style="color: black; background-color: yellow;">Last &raquo;</a>
        {% endif %}
    </div>
</div>
</body>

<style>
  .rounded-button {
    border-radius: 8px;
  }

  .workout-item {
    display: none;  /* Hide all workout items by default */
  }
</style>

<!-- Logic for filtering workouts -->
<script>
  function filterWorkouts(selectedMonth) {
    var workouts = document.getElementsByClassName('workout-item');

    for (var i = 0; i < workouts.length; i++) {
      var workoutMonth = workouts[i].getAttribute('data-month');

      if (selectedMonth === "" || (selectedMonth !== "" && workoutMonth === selectedMonth)) {
        workouts[i].style.display = 'block';
      } else {
        workouts[i].style.display = 'none';
      }
    }
  }
  function displayAllWorkouts() {
    var workouts = document.getElementsByClassName('workout-item');
    for (var i = 0; i < workouts.length; i++) {
      workouts[i].style.display = 'block';
    }
  }
  // Call the function to display all workouts by default
  displayAllWorkouts();
</script>

{% endblock %}