{% extends "users/layout.html" %}

{% block header %}
    <header>
        <h1>Mac's Strength and Power: Fitness Tracker</h1>
        <nav>
            <span>
                <a href="{% url 'users-profile' %}">Home</a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Diary, Goals and Metrics
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'users-diary' %}">Diary</a></li>
                        <li><a class="dropdown-item" href="{% url 'users-goal' %}">Goals</a></li>
                        <li><a class="dropdown-item" href="{% url 'metrics' %}">Metrics</a></li>
                    </ul>
                </div>
            </span>
        </nav>
    </header>
{% endblock %}

{% block main %}

    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}

    <h1>{{ user.username }}: Create a New Diary Entry Here</h1>
    <form method="post" action="{% url 'new-diary-entry' %}">
        {% csrf_token %}
        <div class="form-section">
          <h2>New Diary Entry</h2>
          {{ form.as_p }}
        </div>
  
        <button type="submit" class="rounded-button">Save</button>
    </form>  
    <div>
        <a href="{% url 'users-logout' %}">Logout</a>
    </div>

{% endblock %}