{% extends "users/layout.html" %}

{% block header %}
    <header>
        <h1>Mac's Strength and Power: Fitness Tracker</h1>
        <nav>
            <span>
                <a href="{% url 'users-profile' %}">Home</a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Diary, Goals and Metrics
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'users-diary' %}">Diary</a></li>
                        <li><a class="dropdown-item" href="{% url 'users-goal' %}">Goals</a></li>
                        <li><a class="dropdown-item" href="{% url 'metrics' %}">Metrics</a></li>
                    </ul>
                </div>
                <div>
                    <a href="{% url 'users-logout' %}">Logout</a>
                </div>
            </span>
        </nav>
    </header>
{% endblock %}

{% block main %}

    <!-- Messages -->
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}

    <!-- Diary Page Heading -->
    <h1>{{ user.username }}'s Workout Diary: Entry {{ diary.id }}</h1>

    <div class="container py-3">
        <div class="diary-grid">
            <div class="diary-card">
                <h3>{{ diary.title }}</h3>
                <p>{{ diary.date }}</p>
                <p>{{ diary.content }}
            </div>
        </div>
    </div>

    <!-- New Diary Entry Button -->
    <div class="new-entry-button">
        <a href="{% url 'new-diary-entry' %}">Add New Entry</a>
    </div>

{% endblock %}
