{% extends "users/layout.html" %}

{% block header %}
    <header>
        <h1>Mac's Strength and Power: Fitness Tracker</h1>
        <nav>
            <span>
                <a href="{% url 'users-profile' %}">Home</a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown button
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'users-diary' %}">Diary</a></li>
                        <li><a class="dropdown-item" href="{% url 'users-goal' %}">Goals</a></li>
                        <li><a class="dropdown-item" href="{% url 'metrics' %}">Metrics</a></li>
                    </ul>
                </div>
            </span>
        </nav>
    </header>
{% endblock %}

{% block main %}

    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}

    <h1>{{ user.username }}'s Detailed View of Diary Entry #{{ diary.pk }}</h1>
    <p>This is a detailed view of one of your entries</p>
    <div>
        <a href="{% url 'new-diary-entry' %}">New Entry</a>
    </div>
    <div>
        <a href="{% url 'users-logout' %}">Logout</a>
    </div>

{% endblock %}
