<!--Default Page for our Fitness Tracker-->
{% load static %}<!--loads static for stylesheet usagle in django-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Fitness Tracker{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <link rel="stylesheet" href="{% static 'users/style.css' %}"><!--declares it is looking for a static item which is our css file-->
    </head>
    <body>
        <header>
            <h1>Mac's Fitness Tracker</h1>
            <nav>
                <span>
                    <a href="/">Home</a>
                    <a href="/signin">Sign In</a>
                    <a href="/signup">Register</a>
                </span>
                <span>
                    {% if user.is_authenticated %}
                        <strong>{{ user.username }}'s Profile</strong>
                        <a href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                        <a href="{% url 'login' %}">Log In</a>
                        <a href="{% url 'register' %}">Register</a>
                    {% endif %}
                </span>
            </nav>
        </header>
    </body>
</html>


                <span>
                    <a href="{% url 'index' %}">Active Listings</a>
                    <a href="#">Categories</a>
                    <a href="#">Watchlist</a>
                    <a href="#">Create Listing</a>
                </span>
                <span>
                    {% if user.is_authenticated %}
                        Welcome <strong>{{ user.username }}!</strong>
                        <a href="{% url 'logout' %}">Log Out</a>
                    {% else %}
                        <a href="{% url 'login' %}">Log In</a>
                        <a href="{% url 'register' %}">Register</a>
                    {% endif %}
                </span>
            </nav>
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
    </body>
</html>
