<!--Default Page for our Fitness Tracker-->
{% load static %}<!--loads static for stylesheet usagle in django-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Fitness Tracker{% endblock %}</title>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
        <!--<link rel="stylesheet" href="{% static 'users/style.css' %}">declares it is looking for a static item which is our css file-->
    </head>
    <body>
        {% block header %}
        {% endblock %}
    </div>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Fitness Tracker. All Rights Reserved.</p>
    </footer>
</html>