{% extends "users/layout.html" %}

{% block header %}
    <header>
        <nav>
            <span>
                <h1>Mac's Fitness Tracker</h1>
            </span>
        </nav>
    </header>
{% endblock %}

{% block main %}

    <h2>Login</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'users-profile' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <input type="submit" value="Login">
    </form>

    <p>
        Need an account? <strong><a href="{% url 'users-register' %}">Register</a></strong>
    </p>
    
{% endblock %}