{% extends "users/layout.html" %}

{% block header %}
    <header>
        <nav>
            <span>
                <h1>Mac's Fitness Tracker</h1>
            </span>
        </nav>
    </header>
{% endblock %}

{% block main %}

    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}

    <div class="login-form">
        <form method="post">
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <button type="submit">Login</button>
        </form>
        <div class="register-link">
            Need an account? <strong><a href="{% url 'users-register' %}">Register</a></strong>
        </div>
    </div>
    
{% endblock %}
