<!-- COMPLETED -->
{% extends "users/layout.html" %}
{% load static %}

{% block header %}
  <header style="background-color: black;">
    <h1 style="color: yellow;">Mac's Strength and Power: Fitness Tracker</h1>
  </header>
{% endblock %} 

{% block main %}
  <body style="background-color: black;">
    <div class="text-center">
      {% for message in messages %}
        <div style="color: white;">{{ message }}</div>
      {% endfor %}
    </div>
    <br>
    <div class="login-form text-center">
      <form method="post">
        {% csrf_token %}
        {{ form.username }}
        <br>
        <br>
        {{ form.password }}
        <br>
        <br>
        <button type="submit" style="color: black; background-color: yellow;" class="btn" onmouseover="this.style.borderColor='yellow'" onmouseout="this.style.borderColor='black'">Login</button>
      </form>
      <br>
      <div class="register-link" style="color: white;">
        Need an account? <strong><a href="{% url 'users-register' %}" style="color: yellow;">Register</a></strong>
      </div>
    </div>
    <br>
    <img src="{% static 'images/mac_header_2.png' %}" alt="Mac's Strength and Power Logo 2" class="logo" />
  </body>

  <style>
    .rounded-button {
      border-radius: 8px;
    }

    .logo {
      width: 50%;
      display: block;
      margin: 0 auto;
      max-width: 100%; /* Ensure the image doesn't exceed its natural size */
    }

    /* Add a media query for responsiveness */
    @media screen and (max-width: 600px) {
      .logo {
        width: 80%; /* Adjust the width for smaller screens */
      }
    }
  </style>
{% endblock %}