<!--Signup Page for our Fitness Tracker-->
<!--https://www.youtube.com/watch?v=tUqUdu0Sjyc&ab_channel=DennisIvy-->
{% extends "users/layout.html" %}

{% block header %}
    <header>
        <nav>
            <span>
                <h1>Mac's Strength and Power: Fitness Tracker</h1>
                <ul>
                    <li><a href="{% url 'users-logout' %}">Home</a></li>
                    <!-- Add other left-aligned navigation items as needed -->
                </ul>
            </span>
        </nav>
    </header>
{% endblock %}

{% block main %}

    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}

    <div class="registration-form">
        <form method="post">
            {% csrf_token %}
            <div>{{ form.username }}</div>
            <div>{{ form.email }}</div>
            <div>{{ form.password1 }}</div>    
            </div>{{ form.password2 }}</div>
            <div>
                <button type="submit">Register</button>
            </div>
        </form>
        <div class="login-link">
            Already have an account? <a href="{% url 'users-logout' %}">Login</a>
        </div>
    </div>

{% endblock %}
