<!--Signup Page for our Fitness Tracker-->
<!--https://www.youtube.com/watch?v=tUqUdu0Sjyc&ab_channel=DennisIvy-->
{% extends "users/layout.html" %}

{% block header %}
{% endblock %}

{% block main %}

    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}

    <div class="registration-form">
        <form method="post">
            {% csrf_token %}
            {{ form.username.label }}
            {{ form.username }}
            {{ form.email.label }}
            {{ form.email }}
            {{ form.password1.label }}
            {{ form.password1 }}      
            {{ form.password2.label }}
            {{ form.password2 }}
            <button type="submit">Register</button>
        </form>
        <div class="login-link">
            Already have an account? <a href="{% url 'users-login' %}">Login</a>
        </div>
    </div>

{% endblock %}
