<!--Signup Page for our Fitness Tracker-->
<!--https://www.youtube.com/watch?v=tUqUdu0Sjyc&ab_channel=DennisIvy-->
{% extends "users/layout.html" %}
{% load static %}

{% block header %}
    <header style="background-color: black; padding-top: 0; padding-bottom: 0;">
        <nav class="navbar navbar-expand-md" style="padding-top: 0;">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'users-profile' %}" style="padding-top: 0; padding-bottom: 0; padding-left: 0; padding-right: 0;">
                    <img class="nav-logo" src="{% static 'images/mac_header.jpg' %}" alt="Mac's Strength and Power Logo" style="max-height: 100px; width: auto;"/>
                </a>
                <h1 class="mx-auto my-0 text-center" style="color: yellow;">Mac's Strength and Power: Fitness Tracker</h1>
            </div>
        </nav>
    </header>
{% endblock %} 

{% block main %}
<body style="background-color: black;">
    {% for message in messages %}
        <div>{{ message }}</div>
    {% endfor %}

    <div class="text-center">
        <h2 style="color: yellow;">Register</h2>
    </div>
    <br>
    <div class="registration-form text-center">
        <form method="post">
            {% csrf_token %}
            <div>{{ form.username }}</div>
            <br>
            <div>{{ form.email }}</div>
            <br>
            <div>{{ form.password1 }}</div>
            <br>
            <div>{{ form.password2 }}</div>
            <br>
            <div>
                <button type="submit" style="color: black; background-color: yellow;" class="btn" onmouseover="this.style.borderColor='yellow'" onmouseout="this.style.borderColor='black'">Register</button>
            </div>
        </form>
        <br>
        <div class="login-link" style="color: white;">
            Already have an account? <a href="{% url 'users-logout' %}" style="color: yellow;">Login</a>
        </div>
    </div>    
</body>

<style>
    .rounded-button {
        border-radius: 8px;
    }
</style>
{% endblock %}
