{% extends "users/layout.html" %} {% block header %}
<header>
  <h1>Mac's Strength and Power: Fitness Tracker</h1>
  <nav>
    <span>
      <a href="{% url 'users-profile' %}">Home</a>
      <div class="dropdown">
        <button
          class="btn btn-secondary dropdown-toggle"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown button
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="{% url 'users-diary' %}">Diary</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'users-goal' %}">Goals</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'metrics' %}">Metrics</a>
          </li>
        </ul>
      </div>
    </span>
  </nav>
</header>
{% endblock %} {% block main %} {% for message in messages %}
<div>{{ message }}</div>
{% endfor %}

<h1>{{ user.username }}'s Reminders</h1>
<p>This is your reminders page.</p>
<div>
  {% if reminders %} {% for reminder in reminders %}
  <div>{{ reminder.message }} at {{reminder.time}}</div>
  {% endfor %} {% else %}
  <p>You have no reminders.</p>
  {% endif %}
</div>

<h1>{{ user.username }}: Create a New Reminder Here</h1>
<form method="post" action="{% url 'users-reminder' %}">
  {% csrf_token %}
  <div class="form-section">
    <h2>New Reminder</h2>
    {{ form.as_p }}
  </div>

  <button type="submit" class="rounded-button">Save</button>
</form>
<div>
  <a href="{% url 'users-logout' %}">Logout</a>
</div>

{% endblock %}
