{% extends "users/layout.html" %}

{% block header %}
    <header style="background-color: black;">
        <h1 style="color: yellow;">Mac's Strength and Power: Fitness Tracker</h1>
        <nav>
            <span>
                <a class="btn btn-outline" href="{% url 'users-profile' %}" style="color: black; background-color: yellow;">Home</a>
                <a class="btn" href="{% url 'users-reminder' %}" style="color: black; background-color: yellow;">Create Email Reminders</a>
                <a class="btn" href="{% url 'about_page' %}" style="color: black; background-color: yellow;">About</a>
                <a class="btn" href="{% url 'users-logout' %}" style="color: black; background-color: yellow;">Logout</a>
            </span>
            <hr>
            <span class="main-pages">
                <a class="btn" href="{% url 'users-diary' %}" style="color: black; background-color: yellow;">Diary</a>
                <a class="btn" href="{% url 'users-goal' %}" style="color: black; background-color: yellow;">Goals</a>
                <a class="btn" href="{% url 'metrics' %}" style="color: black; background-color: yellow;">Metrics</a>
            </span>
        </nav>
      </header>     
{% endblock %}

{% block main %}

    <body style="background-color: black;">

        <!-- Messages -->
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}

        <!-- Update Diary Entry Heading -->
        <h1 style="color: yellow; text-align: center;">Update Goal: {{ goal.pk }}</h1>

        <!-- Update Diary Entry Form -->
        <form method="post" action="{% url 'update-goal' goal.pk %}" class="form">
            {% csrf_token %}
            <div class="form-group mb-4">
                <label for="id_title" class="form-label" style="color: yellow;">Title</label>
                <input type="text" id="id_title" name="title" class="form-control bg-dark text-white" value="{{ form.title.value|default_if_none:goal.title }}" required>
            </div>
            <div class="form-group mb-4">
                <label for="id_description" class="form-label" style="color: yellow;">Content</label>
                <textarea rows="20" cols="20" id="id_description" name="description" class="form-control bg-dark text-white" required>{{ form.description.value|default_if_none:goal.description }}</textarea>
            </div>
            <div class="form-group mb-4">
                <label for="id_end_date" class="form-label" style="color: yellow;">End Date: {{ goal.end_date|date:"Y-m-d" }}</label>
                <input type="date" id="id_end_date" name="end_date" class="form-control bg-dark text-white" required>{{ form.end_date.value }}</input>
            </div>
            <div class="form-group">
                <button type="submit" class="btn col-12 mb-4" style="color: black; background-color: yellow;">Update Goal</button>
            </div>
        </form>
    </body>
{% endblock %}