{% extends "users/layout.html" %}
{% load static %}
{% block header %}
  <header style="background-color: black; position: relative;">
    <a class="navbar-brand" href="{% url 'users-profile' %}">
      <img href="{% url 'users-profile' %}" src="{% static 'images/mac_header.jpg' %}" style="width: 10%; position: absolute; top: 30px; left: 75px;" alt="Mac" />
    </a>
    <h1 style="color: yellow;">Mac's Strength and Power: Fitness Tracker<br><small><small><small><small><small>Established in {{ gym_info.year_established }}</small></small></small></small></small></h1>
    <nav>
      <span>
        <div class="container" style="display: flex; justify-content: space-around;">
          <div class="row">
            <div class="col text-end">
              <a href="{% url 'users-profile' %}" style="color: yellow; background-color: black; border-color: white;" onmouseover="this.style.borderColor='yellow'" onmouseout="this.style.borderColor='white'">Home</a>
            </div>
            <div class="col text-start">
              <div class="dropdown">
                <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: yellow; background-color: black; border-color: white;" onmouseover="this.style.borderColor='yellow'" onmouseout="this.style.borderColor='white'">
                    Diary, Goals and Metrics
                </button>
                <ul class="dropdown-menu" style="background-color: black; overflow: hidden; padding-right: 15px; text-align: center; border: 1px solid gray;">
                    <li class="d-grid"><a class="dropdown-item" href="{% url 'users-diary' %}" style="color: white; background-color: black !important; padding: 0">Diary</a></li>
                    <li class="d-grid"><a class="dropdown-item" href="{% url 'users-goal' %}" style="color: white; background-color: black !important; padding: 0">Goals</a></li>
                    <li class="d-grid"><a class="dropdown-item" href="{% url 'metrics' %}" style="color: white; background-color: black !important; padding: 0;">Metrics</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </span>
    </nav>
  </header>
{% endblock %}

{% block main %}
    <body style="background-color: black;">
        <div class="container" style="display: flex; justify-content: space-between;">
            <div class="left-column" style="display: flex; justify-content: center;">
                <section class="info-section">
                    <h2 style="color: yellow;">Machines and Stations</h2>
                    <ul style="color: white;">
                        {% for machine in machines_list %}
                            <li>{{ machine }}</li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
            <div class="right-column" style="display: flex; justify-content: center;">
                <section class="equipment-section">
                    <h2 style="color: yellow;">Equipment</h2>
                    <ul style="color: white;">
                        {% for equipment in equipment_list %}
                            <li>{{ equipment }}</li>
                        {% endfor %}
                    </ul>
                </section>
            </div>
        </div>
    </body>
    <div style="text-align: center; color: yellow; ">
      <small>10930 Mausel St Unit A5</small><br>
      <small>Eagle River, AK 99577</small>
    </div>
{% endblock %}